@import './../../../assets/scss/colors.scss';

button{
    padding: 1rem 3rem;
    height: 3.5rem;
    width: 100%;
    background-color: map-get($colors, primary);
    border: none;
    border-radius: 2.4rem;
    color: map-get($colors, secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (min-width: 768px) {
        justify-content: center;
        fa-icon{
            padding-left: 1rem;
        }
    }
    fa-icon{
        color: map-get($colors, secondary);
    }
}
:host{
    width: 100%;
    &[color="primary"] {
        button{
            background-color: map-get($colors, btnPrimary);
        }
    }
    &[color="secondary"] {
        button{
            background-color: map-get($colors, secondary);
            color: map-get($colors, text);
        }
    }
}