<header *ngIf="isHeader">
    <div menu>
        <img src="../../assets/img/logo-horizontal.svg" alt="">
    </div>
    <div hamburger (click)="toggle()" [ngClass]="{'open': isOpen}">
        <div bar="1"></div>
        <div bar="2"></div>
        <div bar="3"></div>
    </div>
</header>
<div subMenu [ngClass]="{'open': isOpen}">
    <img src="./../../assets/img/logo-vertical.svg" alt="">
    <nav>
        <ul>
            <li>
                <a href="">Loja</a>
            </li>
            <li>
                <a href="">Perfil</a>
            </li>
            <li>
                <a href="">Produtos salvos</a>
            </li>
            <li>
                <a href="">Meus cupons</a>
            </li>
            <li>
                <a href="">Meus pedidos</a>
            </li>
            <li>
                <a href="">Minhas Lives</a>
            </li>
            <li>
                <a href="">Meus Produtos</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">Configurações</a>
            </li>
            <li>
                <a href="">Notificações</a>
            </li>
            <li>
                <a href="">Sair</a>
            </li>
        </ul>
    </nav>
</div>