@import './../../assets/scss/colors.scss';

header {
    height: 6.3rem;
    background-color: map-get($colors, background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    [menu] {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: auto;
            height: 100%;
            position: relative;
        }
    }
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    a{
        font-size: 2.6rem;
        color: map-get($colors, secondary);
        text-decoration: none;
        padding: 0 2.5rem;
    }
}

[hamburger] {
    display: flex;
    width: 5rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-end;
    padding: 1rem 0;
    margin-right: 2rem;
    box-sizing: border-box;
    position: relative;
    // @media (min-width: 768px) {
    //     display: none;
    // }
    [bar] {
        position: absolute;
        border-radius: 1rem;
        height: .5rem;
        width: 100%;
        transition: .4s;
        background-color: map-get($colors, tertiary);
        &[bar="1"] {
            top: 1.5rem;
        }
        &[bar="2"] {
            top: 50%;
            transform: translateY(-50%);
        }
        &[bar="3"] {
            bottom: 1.5rem;
        }
    }
    &.open{
        [bar="1"]{
            transform: rotate(45deg);
            top: 3rem;
            transition: .4s;
        }
        [bar="2"]{
            display: none;
            transition: .4s;
        }
        [bar="3"]{
            bottom: 3rem;
            transform: rotate(-45deg);
            transition: .4s;
        }
    }
}

[subMenu] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 80%;
    background-color: map-get($colors, tertiary);
    z-index: 99999;
    opacity: 0;
    top: 0;
    left: -100%;
    transition: .4s;
    nav {
        width: 100%;
        ul{
            flex-direction: column;
            display: flex;
            padding-bottom: 3rem;
            li{
                padding: 1rem;
            }
        }
    }
    &.open{
        opacity: 1;
        left: 0;
        transition: .4s;
    }
}