header {
    height: 6.3rem;
    img {
        width: auto;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}