<section>
    <h3>{{ content.title }}</h3>
    <p>{{ content.text }}</p>
    <div class="swiper-container" *ngIf="content.pics.length > 0">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let img of content.pics">
                <img [src]="img" alt="">
            </div>
        </div>
        <fa-icon [icon]="navigation.right" class="swiper-button-next"></fa-icon>
        <fa-icon [icon]="navigation.left" class="swiper-button-prev"></fa-icon>
    </div>
</section>