<h3>Descrição</h3>
<p>O blazer com corte clássico de alfaiataria é a peça curinga que veio para ficar no guarda-roupa feminino, sendo capaz de transformar qualquer produção básica em um look moderno e elegante.</p>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        </div>
        <div class="swiper-slide">
        </div>
    </div>
    <fa-icon [icon]="navigation.right" class="swiper-button-next"></fa-icon>
    <fa-icon [icon]="navigation.left" class="swiper-button-prev"></fa-icon>
</div>