$colors: (
    primary: #A7316A,
    secondary: #FFFFFF,
    text: #000,
    textSecondary: #656363,
    textTertiary: #8E8E8E,
    bg: #E5E5E5,
    text-field: #FFFFFF,
    btnPrimary: #59CD99,
    background: #191A1D,
);