@import './../../../../assets/scss/colors.scss';

[title] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
        color: map-get($colors, text);
        font-size: 2rem;
    }
    
    h3 {
        color: map-get($colors, textSecondary);
        font-size: 1.6rem;
    }

    img{
        width: auto;
        height: 100%;
        border-radius: 50%;
    }
}