
figure {
    width: 100%;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    img{
        width: 100%;
        height: auto;
    }
    figcaption{
        padding-top: 2rem;
        color: #fff;
        font-size: 2rem;
    }
}

:host{
    width: 75%;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 992px) {
        width: 40%;
    }
    @media (min-width: 1280px) {
        width: 30%;
    }
}