<section>
    <app-logo></app-logo>
    <!-- <app-stepper></app-stepper> -->
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div inputWrapper *ngFor="let reg of regList">
            <app-c-input [formControlName]="reg.name" [custom]="reg"></app-c-input>
        </div>
        <div btnWrapper>
            <app-button (click)="submit()" color="primary">
                Próximo
            </app-button>
        </div>
        <!-- <p>Já tem conta? <a (click)="signIn()">Faça login</a></p> -->
    </form>
</section>