<section user>
    <app-title [title]="{channel: 'Aquarella Modas', name: 'Fabiana Souza', img: ''}"></app-title>
    <div liveWrapper>
        <app-live [url]="'https://www.youtube.com/embed/sqaZ_dHnHYg'"></app-live>
    </div>
    <app-simple-card [@inOut] *ngIf="!productId">
        <app-description [content]="description"></app-description>
        <app-color [colors]="['#F0B27C', '#7754DA', '#A81E1E', '#000000']"></app-color>
        <app-size [sizes]="['P', 'M', 'G', 'GG']"></app-size>
        <app-button (act)="addCart('13')">
            Adicionar ao carrinho
            <fa-icon [icon]="cart"></fa-icon>
        </app-button>
    </app-simple-card>
    <app-cart [@inOut] *ngIf="productId"></app-cart>
</section>