@import './../../assets/scss/colors.scss';

section{
    margin-top: 10rem;
    h1, h2{
        margin: 0;
        padding-left: 5rem;
        color: map-get($colors, primary);
        padding-bottom: 2rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.5rem;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next{
    height: 403px;
}

.swiper-slide{
    height: 503px;
    min-height: 100%;
}

fa-icon{
    font-size: 5rem;
    padding: 0 5rem;
    color: map-get($colors, secondary);
}

[link] {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}