<section>
    <h2>Principais Eventos ao Vivo</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <app-live [url]="'https://www.youtube.com/embed/sqaZ_dHnHYg'"></app-live>
                <app-notification></app-notification>
                <a link [routerLink]="['user']"></a>
            </div>
            <div class="swiper-slide">
                <app-live [url]="'https://www.youtube.com/embed/j5VbNJVplFk?controls=0'"></app-live>
                <app-notification></app-notification>
                <a link [routerLink]="['user']"></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div seller>
        <app-seller-options></app-seller-options>
    </div>
</section>