<section>
    <h1>A experiência da loja física no mundo virtual.</h1>
    <h2>Escolha a loja, converse com o vendedor ao vivo e compre sem sair de casa.</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <app-live [url]="'https://www.youtube.com/embed/sqaZ_dHnHYg'"></app-live>
                <app-notification></app-notification>
                <a link [routerLink]="['user']"></a>
            </div>
            <div class="swiper-slide">
                <app-live [url]="'https://www.youtube.com/embed/j5VbNJVplFk?controls=0'"></app-live>
            </div>
        </div>
        <fa-icon [icon]="navigation.right" class="swiper-button-next"></fa-icon>
        <fa-icon [icon]="navigation.left" class="swiper-button-prev"></fa-icon>
    </div>
</section>