@import './../../assets/scss/colors.scss';

.maincontentdiv {
    height: 503px;
    iframe{
        height: 100%;
        border-radius: 30px;
        width: 100%;
    }
}

section{
    margin-top: 6.3rem;
    h1{
        padding-top: 5rem;
        padding-left: 5rem;
        font-size: 5rem;
        color: map-get($colors, primary);
    }
}