@import './../../assets/scss/colors.scss';

section{
    padding: 10rem 5rem;
    background: map-get($colors, background);
    h2{
        margin: 0;
        color: map-get($colors, secondary);
        font-size: 1.8rem;
        padding-bottom: 3rem;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper-slide{
    height: 503px;
    min-height: 100%;
}

.swiper-pagination-bullet {
    background: #fff!important;
}

[link] {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

[seller] {
    margin-top: 1rem;
}